@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}
body{
    animation: transitionIn 0.75s;
}

.top{
    font-family: 'Anton', sans-serif;
    display: flex;
    background-color: rgb(77, 160, 207);
    justify-content: center;
}
#banner-title{
    text-align: center;
}
.button-container{
    background-color: rgb(77, 160, 207);
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;

}
#score-counter{
    background-color: rgb(77, 160, 207);
    text-align: center;
}
