@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}
body{
    animation: transitionIn 0.75s;
}

.top{
    display: flex;
    background-color: rgb(77, 160, 207);
    justify-content: center;
}
