@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}
body{
    animation: transitionIn 0.75s;
}

body{
    background-color: rgba(168, 133, 17, 0.295);
    background-size: 100%;
}

#banner{
    font-family: 'Anton', sans-serif;
    justify-content: center;
    text-align: center;
}

.button-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;

}
#round-result{
    text-align: center;
}
@media (max-width:500px){
    .button-container{
    flex-direction: column;
    align-items: center;
    }
}
#score-counter{
    background-color: rgb(77, 160, 207);
    text-align: center;
}

.btn:hover:enabled,
.btn:focus:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

#game-progress{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
@media (max-width:500px){
    #game-progress{
    flex-direction: column;
    }
}



